[user]
	name = Justin Shenk
	email = shenk.justin@gmail.com
[pull]
    rebase = true
[push]
    default = current
[alias]
    aliases = "!git config -l | grep alias | cut -c 7-"
    st = status -s
    vomit = commit
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    filelog = log -u
    difflast = "!git ll -1"
    diffcommit  = "!f() { git diff "$1"^.."$1"; }; f"
    cp = cherry-pick
    cl = clone
    ci = commit
    co = checkout
    br = branch
    brunch = branch
    diff = diff --word-diff --staged
    dc = diff --cached
    logtree = "log --graph --oneline --decorate --all"
    yolo = push --force-with-lease
    changes = "!git log --follow -p --"
    conflicting = "!git diff --name-only --diff-filter=U"
    cleanup = "!git branch --merged | grep -v -P '^\\*|master|develop' | xargs -n1 -r git branch -d"
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
